<!DOCTYPE html>
<html lang="en">
{% include header.shtml %}
  <p>
    <a href="index.html">Contact</a> -
    <a href="publications.html">Publications</a> -
    <a href="teaching.html">Teaching</a> -
    <a href="conferences.html">Conferences</a> -
    <a href="projects.html">Projects</a> -
    <a href="editorial-boards.html">Editorial Boards</a> -
    <a href="cv.html" class="aktiv">CV</a>&nbsp; </p>
  <hr />

<h3>Short CV: </h3>
  <table border="0" cellspacing="7">
      <colgroup>
        <col width="100" />
        <col width="600" />
      </colgroup>
      <tr>
	<td>2022&mdash;</td>
	<td>Professor at Universit&auml;t Hamburg, Germany</td>
      </tr>
      <tr>
	<td>2015&mdash;2022</td>
	<td>Professor at Technische Universit&auml;t Darmstadt, Germany</td>
      </tr>
      <tr>
	<td>2011&mdash;2015</td>
	<td>Assistant Professor (Juniorprofessor) at University of Hamburg, Germany</td>
      </tr>
       <tr>
	<td>2010&mdash;2011</td>
	<td>Post-Doc in the Group of Prof. Dr. R. Rannacher at University of Heidelberg, Germany</td>
      </tr>
      <tr>
	<td>2010</td>
	<td>PhD from University of Heidelberg, Germany (Advisor: Prof. Dr. R. Rannacher)</td>
      </tr>
      <tr>
	<td>2002&mdash;2006</td>
	<td>Study of Mathematics (Diploma), University of Heidelberg, Germany</td>
      </tr>
      <tr>
	<td>2001&mdash;2002</td>
	<td>Mandatory Civilian Service, Hamburg, Germany </td>
      </tr>
  </table>
<h3>Professional Responsibilities: </h3>
 <table border="0" cellspacing="7">
      <colgroup>
        <col width="100" />
        <col width="600" />
      </colgroup>
       <tr>
	<td>2019&mdash;2022</td>
	<td>Member of the &quot;Senatsausschuss Lehre&quot; at Technische Universität Darmstadt</td>
       </tr>
       <tr>
	<td>2017&mdash;2022</td>
	<td>Member of the Faculty Council of the Fachbereich Mathematik at Technische Universität Darmstadt</td>
      </tr>
      <tr>
	<td>2017&mdash;2021</td>
	<td>Speaker of the GAMM Activity Group &quot;Optimization with PDE Constraints&quot;</td>
      </tr>
      <tr>
	<td>2016&mdash;2022</td>
	<td>Vice-Chair of the &quot;Pr&uuml;fungskommission Mathematik&quot; at Technische Universität Darmstadt</td>
      </tr>
      <tr>
	<td>2015</td>
	<td>Faculty-Advisor of the SIAM Student Chapter at University of Hamburg</td>
      </tr>
      <tr>
	<td>2014&mdash;2017</td>
	<td>Vice-Speaker of the GAMM Activity Group &quot;Optimization with PDE Constraints&quot;</td>
      </tr>
      <tr>
	<td>2011&mdash;2014</td>
	<td>Member of the MIN-Faculty Council at University Hamburg</td>
      </tr>
 </table>
<h3>Awards and Stipends: </h3>
  <table border="0" cellspacing="7">
      <colgroup>
        <col width="100" />
        <col width="600" />
      </colgroup>
      <tr>
	<td>2014</td>
	<td>Award: Teacher of the summerterm 2014 at Department of Mathematics, University of Hamburg</td>
      </tr>
      <tr>
	<td>2008&mdash;2010</td>
	<td>Associate Member of the Heidelberg Graduate School of Mathematical and Computational Methods for the Sciences (HGS)</td>
      </tr>
      <tr>
	<td>2007&mdash;2010</td>
	<td>Associate Member of the IGK 710</td>
      </tr>
      <tr>
	<td>2005&mdash;2006</td>
	<td>Stipendiary of the Studienstiftung des deutschen Volkes</td>
      </tr>
  </table>

{% include footer.shtml %}
</html>
