<!DOCTYPE html>
<html lang="en">
{% include header.shtml %}
  <p>
    <a href="index.html">Contact</a> -
    <a href="publications.html">Publications</a> -
    <a href="teaching.html">Teaching</a> -
    <a href="conferences.html">Conferences</a> -
    <a href="projects.html" class="aktiv">Projects</a> -
    <a href="editorial-boards.html">Editorial Boards</a> -
    <a href="cv.html">CV</a>&nbsp; </p>
  <hr />

<h3>Current Projects:</h3>
<ul>
  <li>
    <h4> <a href="https://spp1962.wias-berlin.de/index.php" target="_blank">DFG Schwerpunkt Programm 1962: &quot;Non-smooth and Complementarity-based Distributed Parameter Systems: Simulation and Hierarchical Optimization&quot;</a></h4>  
    <ul>
      <li><a href="https://spp1962.wias-berlin.de/project.php?projectID=15" target="_blank">Project P15: Optimizing Fracture Propagation Using a Phase-Field Approach</a> (Joint with <a href="http://neitzel.ins.uni-bonn.de/" target="_blank">I. Neitzel</a>, <a href="https://www.ifam.uni-hannover.de/wick.html" target="_blank">T. Wick</a>) (2019&mdash;2023)</li>
    </ul> 
  </li>   
</ul>
<h3>Past Projects:</h3>
<ul>
  <li>
    <h4><a href="https://www.uni-due.de/spp1748/" target="_blank">DFG Schwerpunkt Programm 1748: &quot;Reliable Simulation Techniques in Solid Mechanics. Development of  Non-standard Discretization Methods, Mechanical and Mathematical  Analysis&quot; </a></h4> 
    <ul>
      <li><a href="https://www.uni-due.de/spp1748/adaptive_enriched_galerkin_methods" target="_blank">Project: Structure Preserving Adaptive Enriched Galerkin Methods for Pressure-Driven 3D Fracture Phase-Field Models</a> (Joint with <a href="hp/numerik-und-wissenschaftliches-rechnen-homepages/walloth-mirjam/dr-mirjam-walloth.html" target="_blank">M. Walloth</a>, <a href="https://www.ifam.uni-hannover.de/wick.html" target="_blank">T. Wick</a>) (2018&mdash;2022)
      </li>
    </ul> 
  </li> 
  <li>
    <h4> <a href="https://spp1962.wias-berlin.de/index.php" target="_blank">DFG Schwerpunkt Programm 1962: &quot;Non-smooth and Complementarity-based Distributed Parameter Systems: Simulation and Hierarchical Optimization&quot;</a></h4>  
    <ul>
      <li><a href="https://spp1962.wias-berlin.de/projectold.php?projectID=17" target="_blank">Project P17: Optimizing Fracture Propagation Using a Phase-Field Approach</a> (Joint with <a href="http://neitzel.ins.uni-bonn.de/" target="_blank">I. Neitzel</a>) (2016&mdash;2019)</li>
    </ul> 
  </li>
  <li>
    <h4>       <a href="https://trr154.fau.de/index.php/en/" target="_blank">DFG SFB TRR 154: &quot;Mathematical Modelling, Simulation and Optimization using the Example of Gas Networks&quot;</a></h4>  
    <ul>
      <li><!--<a href="https://trr154.fau.de/index.php/en/subprojects/subprojects-phase1/a08e-phase1" target="_blank">-->
	  <a href="https://opus4.kobv.de/opus4-trr154/solrsearch/index/search/searchtype/collection/id/16254" target="_blank">Project A08: Discretization error in mixed integer optimization</a> (2017&mdash;2018, central funds of TRR 154)
      </li>
    </ul> 
  </li>
</ul>
{% include footer.shtml %}
</html>
